<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" href="/favicon.ico" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <link href="/css/font.css" rel="stylesheet" type="text/css">
    <!-- <link href="/css/reset.css" rel="stylesheet" type="text/css"> -->
    <link href="/views/kr/dashboard/transaction/transaction.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/util.js"></script>

    <title>Banaba</title>
  </head>

  <body>
    <div id="Transaction">
        <div class="contents ntBold">
          <div class="coin-wrap">
            <div class="bfc-wrap">
            <div class="bfc">
                <div>
                <img src="../../../images/bfc_logo.png" alt="" />
                </div>

                <div>Bit Financial</div>
            </div>

            <div class="bfc-detail">
                <div>사용 가능 자산</div>
                <div>0.0000BFC</div>
                <div>총 자산</div>
                <div>0.0000BFC</div>
            </div>

            <div class="Btn">출금하기</div>
            </div>

            <div class="ethereum-wrap">
            <div class="ethereum">
                <div>
                <img src="../../../images/ethereum.png" alt="" />
                </div>

                <div>Bit Financial</div>
            </div>

            <div class="ethereum-detail">
                <div>사용 가능 자산</div>
                <div>0.0000BFC</div>
                <div>총 자산</div>
                <div>0.0000BFC</div>
            </div>

            <div class="Btn">출금하기</div>
            </div>

            <div class="bnb-wrap">
            <div class="bnb">
                <div>
                <img src="../../../images/bnb_logo.png" alt="" />
                </div>

                <div>Bit Financial</div>
            </div>

            <div class="bnb-detail">
                <div>사용 가능 자산</div>
                <div>0.0000BFC</div>
                <div>총 자산</div>
                <div>0.0000BFC</div>
            </div>

            <div class="Btn">출금하기</div>
            </div>
          </div>

          <div class="transaction-wrap">
              <div class="transaction-title">트랜잭션 목록</div>
          </div>
        </div>
    </div>
  </body>
</html>