<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" href="/favicon.ico" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <link href="/css/font.css" rel="stylesheet" type="text/css">
    <!-- <link href="/css/reset.css" rel="stylesheet" type="text/css"> -->
    <link href="/views/kr/dashboard/withdrawEther/withdrawEther.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/util.js"></script>

    <title>Banaba</title>
  </head>

  <body>
    <div id="WithdrawEther">
      <div class="contents ntBold">
        <div class="my-withdrawEther">
          <div class="bfc">
            <div class="bfc-img"><img src="../../../../images/ethereum.png" alt=""/></div>
            <div>Ethereum</div>
          </div>
          
          <div class="withdrawEther-info">
            <div>사용 가능 자산</div>
            <div>0.0000ETH</div>
            <div>총 자산</div>
            <div>0.0000ETH</div>
          </div>
        </div>
        
        <div class="bfc-withdraw">
          <div>출금하기</div>
        </div>

        <div class="withdraw-form">
          <div>수신주소</div>
          <div class="ntRegular">
            <input placeholder="수신주소를 입력해주세요.">
          </div>
          <div>수량</div>
          <div class="ntRegular">
            <input placeholder="수량을 입력해주세요.">
          </div>
          <div>출금 비밀번호</div>
          <div class="ntRegular">
            <input placeholder="출금 비밀번호를 입력해주세요.">
          </div>
          <div>OTP인증</div>
          <div class="ntRegular">
            <input placeholder="OTP인증번호를 입력해주세요.">
          </div>

          <div class="apply">출금하기</div>
        </div>
      </div>
    </div>
  </body>
</html>