<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" href="/favicon.ico" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <link href="/css/font.css" rel="stylesheet" type="text/css">
    <!-- <link href="/css/reset.css" rel="stylesheet" type="text/css"> -->
    <link href="/views/kr/dashboard/staking/staking.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/util.js"></script>

    <title>Banaba</title>
  </head>

  <body>
    <div id="Staking">
        <div class="contents ntBold">
            <div class="my-staking">
              <div class="bfc">
                <div class="bfc-img"><img src="../../../../images/bfc_logo.png" alt=""/></div>
                <div>Bit Financial</div>
              </div>
              
              <div class="staking-info">
                <div>스테이킹 가능 자산</div>
                <div>0.0000BFC</div>
                <div>총 자산</div>
                <div>0.0000BFC</div>
              </div>
            </div>
            
            <div class="bfc-withdraw">
              <div>출금하기</div>
              <div class="ntRegular">스테이킹은 Bit Financial(BFC)을 블록체인 네트워크 운영에 활용할 수 있도록 맡기고, 그 대가로 수익보상을 받는 서비스입니다.
                최소 신청수량은 1,000 BFC입니다. 신청하신 코인은 100일동안 동결되며, 매일 투자금의 1.5% (원금 1% + 이자 0.5%)에 해당하는 
                수익금을 지급합니다. 
              </div>
              <div>※ 수익금은 지급되는 즉시 사용가능합니다.</div>
            </div>

            <div class="withdraw-form">
              <div>수량</div>
              <div class="ntRegular">
                <input placeholder="수량을 입력해주세요.">
              </div>
              <div>출금 비밀번호</div>
              <div class="ntRegular">
                <input placeholder="출금 비밀번호를 입력해주세요.">
              </div>
              <div>OTP인증</div>
              <div class="ntRegular">
                <input placeholder="OTP인증번호를 입력해주세요.">
              </div>

              <div class="apply">신청하기</div>
            </div>
        </div>
    </div>
  </body>
</html>