<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <link href="/css/font.css" rel="stylesheet" type="text/css">
    <!-- <link href="/css/reset.css" rel="stylesheet" type="text/css"> -->
    <link href="/views/kr/dashboard/menu/menu.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/util.js"></script>

    <title>Banaba</title>
  </head>

  <body>
    <div id="Menu">
        <div class="menu-contents">
            <div id="home" class="menu-name" style="background: #FDFDF1;">
                <div class="line"></div>

                <div>
                    <img src="../../../images/home.svg" alt="" />
                </div>

                <div>홈</div>
            </div>

            <!-- <div id="Withdraw" class="menu-name">
                <div>
                    <img src="../../../images/home.svg" alt="" />
                </div>

                <div>입금</div>
            </div> -->

            <div id="withdraw" class="menu-name">
                <div class="line"></div>

                <div>
                    <img src="../../../images/withdraw.svg" alt="" />
                </div>

                <div>출금</div>
            </div>

            <div id="withdrawCoin" style="display: none;">
                <div class="bit">
                    <div>Bit Financial</div>
                </div>

                <div class="ether">
                    <div>Ethereum</div>
                </div>

                <div class="banaba">
                    <div>Banaba Coin</div>
                </div>
            </div>

            <div id="staking" class="menu-name">
                <div class="line"></div>

                <div>
                    <img src="../../../images/staking.svg" alt="" />
                </div>

                <div>스테이킹</div>
            </div>

            <div id="transactionList" class="menu-name">
                <div class="line"></div>

                <div>
                    <img src="../../../images/transaction.svg" alt="" />
                </div>

                <div>트랜잭션 목록</div>
            </div>

            <div id="stakingList" class="menu-name">
                <div class="line"></div>

                <div>
                    <img src="../../../images/stakingList.svg" alt="" />
                </div>

                <div>스테이킹 목록</div>
            </div>

            <div id="assetInfo" class="menu-name">
                <div class="line"></div>

                <div>
                    <img src="../../../images/asset.svg" alt="" />
                </div>

                <div>자산정보</div>
            </div>

            <div id="myInfo" class="menu-name">
                <div class="line"></div>

                <div>
                    <img src="../../../images/mypage.svg" alt="" />
                </div>

                <div>개인정보 수정</div>
            </div>

            <div id="customerCenter" class="menu-name">
                <div class="line"></div>

                <div>
                    <img src="../../../images/question.svg" alt="" />
                </div>

                <div>문의하기</div>
            </div>

            <!-- <div id="logOut" class="menu-name">
                <div class="line"></div>

                <div>
                    <img src="../../../images/home.svg" alt="" />
                </div>

                <div>로그아웃</div>
            </div> -->

            <div id="deleteUser" class="menu-name">
                <div class="line"></div>

                <div>
                    <img src="../../../images/delete.svg" alt="" />
                </div>

                <div>탈퇴하기</div>
            </div>
        </div>
    </div>
  </body>
</html>