#Login {
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
  display: flex;
  align-items: center;
}

#Login .login-wrap {
  display: flex;
  width: 100%;
  height: 60%;
  box-shadow: 0 5px 20px rgb(0 0 0 / 12%);
  border-radius: 20px;
  overflow: hidden;
}

#Login .login-wrap > div {
  width: 50%;
  padding: 20px;
}

/* left content */
#Login .welecom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #9ccca7 0%, #dfe4b5 50%, #fbffd6 100%);
}

#Login .welecom > div {
  color: #bd8659;
  padding: 20px 0;
}

#Login .welecom .title {
  font-size: 20px;
  width: 250px;
}

#Login .welecom .join-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  background: #a3cfa9;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 0.3s;
}

/* right content */
#Login .form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Login .form-wrap .title {
  font-size: 20px;
  padding: 20px 0;
  color: #a3cfa9;
}

#Login .form-wrap .title-line {
  width: 100px;
  height: 5px;
  background: #a3cfa9;
}

#Login .form-wrap .login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  background: #a3cfa9;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 0.3s;
}

#Login .form-wrap .login-btn > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Login .form-wrap .login-btn:hover,
#Login .welecom .join-btn:hover {
  box-shadow: 0 5px 20px rgb(0 0 0 / 12%);
  transition-duration: 0.3s;
}

#Login #login {
  width: 70%;
  box-sizing: border-box;
  padding: 10px;
  margin: 35px 0;
}

#Login #login > input {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #dbe7fa;
  padding: 15px;
  margin: 5px 0;
}
